
@font-face {
   font-family: 'KatamotzIkasiMedium';
   src: url(KatamotzIkasi.ttf);
}
html {
    height: 100%;
}

body {
    height: 100%;
}
.canvas {
width:100%;
height:30%;
background-color: #FFCCFF;
border: 1px none #000000;
text-align: center;	
}
.cap {
	width:9%;
height:100%;
    color: black;
    background-color: #CC99CC;
    border: 3px solid #FFCCFF;
  
line-height:1.5;
	font-size: 500%;
	text-align: center;
display: inline-block;

}
.question {
	
width:100%;
height:20%;
font-family: 'KatamotzIkasiMedium';
	font-size: 300%;
	text-align: center;
line-height:1.8;
font-weight: bold;
}
.foots {
width:100%;
height:30%;
font-family: 'KatamotzIkasiMedium';
	font-size: 300%;
display: inline;
text-align: center;
font-weight: bold;
}
.arrows {
width:100%;
height:30%;
background-color: #FFFFFF;
line-height:1.1;

text-align: center;


}
.mesage {
	position:absolute;
	top:0px;
width:100%;
height:20%
	line-height:1.5;
background-color: #66FF66;
	font-size: 500%;
	display: none;
	text-align: center;
	font-weight: bold;
}
